* {
    margin:0;
    padding:0;
    font-family:'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
  width:100%;
  height:100%;
}

html, body {
    background: linear-gradient(#badbe4, #aaf7e1);
}

#world {
  position: absolute;
  width:100%;
  height: 100%;
  right:0;
  overflow: hidden;
}


/* Positioning for pregunta-respuesta */
.pregunta-respuesta {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    z-index: 1000; /* High z-index to ensure it's on top */
    /*background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
}


/* Game button style */
.control-buttons {
    width: 15%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 900;
}
   
.game-btn {
    padding: 10px 20px;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.panel {
    position:absolute;
    top:0;
    left:0;
    padding: 2em 3em;
    width: 25%;
    box-sizing: border-box;
}

.game-title {
    z-index:100;
    position:relative;
    text-align:center;
}

.game-title .title {
    font-family: 'Playfair Display', serif;
    font-weight:700;
    font-size:3em;
}

.game-title .byline {
    font-family: 'Playfair Display', serif;
    text-transform:uppercase;
    color:#333;
    letter-spacing:0.2em;
    font-size:0.8em;
    font-weight:600;
    margin-top:0.5em;
}

.arrow-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px; /* Espacio entre elementos */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Alinear verticalmente */
    padding: 10px;
}
.box {
    padding: 10px 20px;
    background-color: rgb(173, 230, 187);
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}
.box_1 {
    padding: 10px 20px;
    background-color: #add8e6;
    border-radius: 5px;
    font-size:  2.5em;
    text-align: center;
}
.box_2 {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ffa07a;
    font-size: 2.5em;
    text-align: center;
}
.box_3 {
    padding: 10px 20px;
    background-color: #008000;
    border-radius: 5px;
    font-size:  2.5em;
    text-align: center;
}

.arrow-btn {
    width: 300px;
    height: 125px;
    background-color: rgba(255, 255, 255, 0.5);

    color: black;
    border: 3px solid #333;
    border-radius: 15%;
    font-size: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.arrow-btn:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

a {
    font-family: 'Playfair Display', serif;
    letter-spacing:0.2em;
    font-weight:600;
    text-decoration: none;
}

table {
    width: 100%;
    box-sizing: border-box;
    margin-top: 2em;
}

td {
    letter-spacing:0.1em;
    font-size:1em;
    text-transform:uppercase;
    font-weight:400;
}

td:first-child {
    width: 30%;
    text-align: right;
    padding-right: 0.5em;
}

td:nth-child(2) {
    width: 70%;
    text-align: left;
    padding-left: 0.5em;
}

.stat {
    margin-top: 2em;
    text-align:center;
}

.stat p {
    width:100%;
    text-align:center;
    /*font-family:'Playfair Display';*/
    font-size:5em;
}

.stat label {
    text-align:center;
    text-transform:uppercase;
    /*letter-spacing:0.25em;*/
    font-size:2em;
    width:100%;
    float:left;
}

#variable-content {
    margin-top:2em;
    letter-spacing:0.1em;
    text-transform:uppercase;
    font-size:1em;
    font-weight:100;
    text-align:center;
    line-height:150%;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.animate-flicker {
   -webkit-animation: flickerAnimation 1.5s infinite;
   -moz-animation: flickerAnimation 1.5s infinite;
   -o-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}
